/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}


#google-map {
    height: 60vh;
    width: 100%;
}

body {
    overflow-x: hidden !important;
    width: 100vw !important;
}